<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let restaurant of Restaurantlist">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{restaurant.nom}}" alt=""></a>
      <div class="card-body">
        <h3>{{ restaurant.id }}</h3>
        <h4 class="card-title">
          <a routerLink="GetRestaurantbyNom/{{restaurant.nom}}">{{ restaurant.nom }}</a>
        </h4>
        <h5>{{ restaurant.adresse }}</h5>
        <p class="card-text">{{ restaurant.description}}</p>
        <h6>Numéro de telephone:  {{ restaurant.telephone }}</h6>

      </div>

    </div>
  </div>
</div>
