<div class="container">
    <h2 class="text-center">Add Product</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

       <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text"  formControlName="nom" placeholder="Write Product Name"  name="nom" class="form-control" id="nom">
      </div>
 
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" formControlName="description" placeholder="description" name="description" class="form-control" id="description">
      </div>

      <div class="form-group">
        <label for="prix">prix</label>
        <input type="number" formControlName="prix" placeholder="prix" name="prix" class="form-control" id="prix">
      </div>

  
      <div class="form-group">
        <label for="Category">Category</label>
        <input type="text" formControlName="Category" placeholder="Category" name="Category" class="form-control" id="Category">
      </div>

     
      <div class="form-group">
        <label for="img">Image</label>
        <input type="text" formControlName="img" placeholder="img" name="img" class="form-control" id="img">
      </div> 

      <button class="btn btn-success">Submit</button>
   

    </form>
   

