<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>FitFat Store</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="new_arrivals_sorting">
          <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">Keto</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">Low Carb</li>
            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">Vegan</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let restaurant of restaurantList">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{restaurant.nom}}" alt=""></a>
            <div class="card-body">
              <h3>{{ restaurant.id }}</h3>
              <h4 class="card-title">
                <a routerLink="ShowRestaurantComponent/{{restaurant.id}}">{{ restaurant.nom }}</a>
              </h4>
              <h5>{{ restaurant.adresse }}</h5>
              <p class="card-text">{{ restaurant.description}}</p>
              <h6>Numéro de telephone:  {{ restaurant.telephone }}</h6>

            </div>

          </div>
        </div>
      </div>
    </div>

</div>
</div>
